.fakeImage {
  overflow-x: hidden;
}

body {    
  margin: 0 !important;
  padding: 0 !important;
}

#reservation {
  position: absolute;
  top: 700px;
  left: 1200px;
}

#reviews {
  display: inline-block;
  margin-left: 437px;
  height: 700px;
  overflow: auto;
}